@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.bookmark-item[container], treechildren::-moz-tree-image(container) {

fill: darkblue !important;

}
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksToolbar) {

fill: black !important;

}
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksMenu) {

fill: black !important;

}
treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks) {

fill: black !important;

}
treechildren::-moz-tree-image(container, livemark) {

fill: orange !important;

}
.bookmark-item[container][query],
treechildren::-moz-tree-image(container, query) {

fill: dimgray !important;

} 
